allow vendor_init apk_data_file:dir { getattr };
allow vendor_init block_device:lnk_file { setattr };
allow vendor_init default_prop:property_service { set };
allow vendor_init apk_data_file:dir { create };
allow vendor_init default_prop:file { read };
allow vendor_init persist_debug_prop:file { read };
